@layer reset {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	/* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
	html {
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}

	body,
	h1,
	h2,
	h3,
	h4,
	p,
	figure,
	blockquote,
	dl,
	dd {
		margin: 0;
		padding: 0;
	}

	/* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
	[role="list"] {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	body {
		min-block-size: 100vh;
		line-height: 1.6;
	}

	h1,
	h2,
	h3,
	button,
	input,
	label {
		line-height: 1.1;
	}

	h1,
	h2,
	h3,
	h4 {
		text-wrap: balance;
		font-family: var(--ff-heading);
	}

	p,
	li {
		text-wrap: pretty;
		font-family: var(--ff-body);
		font-size: var(--fs-300);
		font-weight: 400;
	}

	img,
	picture {
		max-inline-size: 100%;
		display: block;
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
	}
}

/* Font Face Declarations */
@font-face {
	font-family: "JetBrains Mono";
	src: url(/fonts/JetBrainsMono-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "JetBrains Mono";
	src: url(/fonts/JetBrainsMono-Medium.woff2) format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "JetBrains Mono";
	src: url(/fonts/JetBrainsMono-Bold.woff2) format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "JetBrains Mono";
	src: url(/fonts/JetBrainsMono-Light.woff2) format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SF Pro Display";
	src: url(/fonts/sf-pro-display-regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SF Pro Display";
	src: url(/fonts/sf-pro-display-medium.woff2) format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SF Pro Display";
	src: url(/fonts/sf-pro-display-bold.woff2) format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SF Pro Display";
	src: url(/fonts/sf-pro-display-light.woff2) format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@layer base {
	:root {
		--clr-white: hsl(0, 0%, 100%);
		--clr-black: hsla(0, 0%, 17%, 1);
		/* grey */
		--clr-gray-100: hsla(0, 0%, 95%, 1);
		--clr-gray-500: hsla(0, 0%, 69%, 1);
		--clr-gray-700: hsla(0, 0%, 56%, 1);
		--clr-gray-900: hsla(0, 1%, 53%, 1);
		/* blue */
		--clr-blueberry-100: hsla(231, 59%, 89%, 1);
		--clr-blueberry-300: hsla(229, 88%, 70%, 1);
		--clr-blueberry-500: hsla(229, 90%, 65%, 1);
		--clr-blueberry-700: hsla(229, 61%, 47%, 1);
		/* pink */
		--clr-pink-100: hsla(331, 76%, 94%, 1);
		--clr-pink-300: hsla(331, 76%, 87%, 1);
		--clr-pink-500: hsla(331, 95%, 75%, 1);
		/* lavender */
		--clr-lavender-100: hsla(266, 66%, 94%, 1);
		--clr-lavender-300: hsla(266, 66%, 77%, 1);
		--clr-lavender-500: hsla(266, 66%, 62%, 1);
		/* yellow */
		/* --clr-yellow-300: hsla(52, 100%, 68%, 0.4); */
		--clr-yellow-500: hsla(52, 100%, 68%, 1);
		--clr-yellow-700: hsla(44, 100%, 61%, 1);

		--ff-heading: "JetBrains Mono", monospace;
		--ff-body: "SF Pro Display", -apple-system, BlinkMacSystemFont, Segoe UI,
			Roboto, sans-serif;

		--radii-10: 10px;

		--default-layout-gap: 1.5rem;
		--big-layout-gap: 2.5rem;

		--fs-300: 0.875rem;
		--fs-400: 1rem;
		--fs-500: 1.125rem;
		--fs-600: 1.25rem;
		--fs-700: 1.5rem;
		--fs-800: 2rem;
		--fs-900: 2.75rem;
		--fs-1000: 3.45rem;

		@media (width > 760px) {
			--fs-300: 0.875rem;
			--fs-400: 1rem;
			--fs-500: 1.125rem;
			--fs-600: 1.25rem;
			--fs-700: 1.5rem;
			--fs-800: 2rem;
			--fs-900: 2.75rem;
			--fs-1000: 3.45rem;
		}
	}
	/* in another selector for syntax highlighting reasons only */
	:root {
		/* Default theme: yellow */
		--badge-background: var(--clr-pink-500);
		--badge-text: var(--clr-yellow-500);
		--background-main: var(--clr-gray-900);
		--background-content: var(--clr-gray-100);
		--background-secondary: var(--clr-yellow-500);
		--button-hovered-background: var(--clr-pink-500);
		--block-card-background: var(--clr-blueberry-100);
		--text-main: #222;
		--text-high-contrast: #000;
		--accent: #ffb6c1;
		/* BUTTON */
		--button-blog-card-background-hover: var(--clr-blueberry-500);
	}
	[data-theme="blue"] {
		--background-main: #5c7cfa;
		--background-content: #e6edff;
		--background-secondary: #a5b4fc;
		--block-card-background: #cfd8fc;
		--text-main: #fff;
		--text-high-contrast: #fff;
		--accent: #ffd700;
	}
	[data-theme="pink"] {
		--background-main: var(--clr-pink-500);
		--background-content: var(--clr-gray-100);
		--background-secondary: var(--clr-lavender-500);
		--text-main: var(--clr-black);
		--text-high-contrast: var(--clr-white);
		--accent: var(--clr-yellow-500);
	}
}

@layer base {
	body {
		font-family: var(--ff-body);
		font-size: var(--font-size-regular);
		color: var(--text-main);
		background-color: var(--background-main);
	}

	h1,
	h2,
	h3,
	h4 {
		font-family: var(--ff-heading);
	}

	a {
		color: var(--text-high-contrast);
	}

	a:hover,
	a:focus-visible {
		color: var(--text-brand-light);
	}

	img {
		border-radius: var(--border-radius-3);
	}
}

@layer layout {
	.flow > * + * {
		margin-block-start: var(--flow-space, 1em);
	}

	.grid-flow {
		display: grid;
		gap: var(--grid-flow-space, 1rem);

		align-content: start;
		justify-items: start;
	}

	.wrapper {
		--wrapper-max-width: 1130px;
		--wrapper-padding: 1rem;

		max-width: var(--wrapper-max-width);
		margin-inline: auto;
		padding-inline: var(--wrapper-padding);

		/* helps to match the Figma file */
		box-sizing: content-box;
	}

	.wrapper[data-width="narrow"] {
		--wrapper-max-width: 720px;
	}

	.wrapper[data-width="wide"] {
		--wrapper-max-width: 1330px;
	}

	.section {
		padding-block: 3.75rem;

		@media (min-width: 760px) {
			padding-block: 8rem;

			&[data-padding="compact"] {
				padding-block: 4.5rem;
			}
		}
	}

	.equal-columns {
		display: grid;
		gap: var(--equal-columns-gap, 1rem);
		align-items: var(--column-layout-alignment, start);

		&[data-gap="large"] {
			gap: 2rem;
		}

		&[data-vertical-alignment="centered"] {
			--column-layout-alignment: center;
		}

		&[data-vertical-alignment="bottom"] {
			--column-layout-alignment: end;
		}

		@media (width > 760px) {
			grid-auto-flow: column;
			grid-auto-columns: 1fr;
		}
	}

	.section-block {
		background-color: var(--clr-gray-100);
		border-radius: var(--border-radius-1);
	}
}

@layer components {
	.site-header {
		padding-block: 1rem;
	}

	.site-header__inner {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem 2rem;
		justify-content: space-between;
	}

	.primary-navigation {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			gap: 0.5rem 2rem;
		}

		a {
			text-decoration: none;
		}
	}

	[aria-controls="primary-navigation"] {
		display: none;
	}

	@media (width < 760px) {
		[aria-controls="primary-navigation"] {
			display: block;
			z-index: 100;
			background: transparent;
			border: 0;

			img {
				border-radius: 0;
			}
		}

		.site-header {
			position: relative;
		}

		.primary-navigation {
			display: none;
			position: absolute;
			z-index: 10;
			top: 0;
			right: 0;
			padding: 2rem;
			border-radius: 0 0 0 var(--border-radius-3);
			background: var(--background-accent-main);

			ul {
				flex-direction: column;
				gap: 0;
				font-size: var(--fs-700);
				font-family: var(--ff-heading);
				font-weight: 700;
			}

			li + li {
				margin-top: 1rem;
				padding-top: 1rem;
				border-top: 2px solid var(--background-accent-light);
			}
		}

		[aria-expanded="true"] ~ .primary-navigation {
			display: block;
		}
	}

	.site-footer {
		background-color: var(--background-dark);
		padding-block: 2rem;
		text-align: center;

		/* either use .grid-flow and change the --grid-flow-spacing, or do this */
		display: grid;
		gap: 2rem;

		a {
			text-decoration: none;
			color: var(--text-main);

			&:hover,
			&:focus-visible {
				color: var(--text-brand-light);
			}
		}
	}

	.site-footer__title {
		font-size: var(--fs-600);
		font-family: var(--ff-heading);
		font-weight: 700;
	}

	.hero {
		text-align: center;
		background-image: url(/assets/hero.webp);
		background-size: cover;
		font-size: var(---fs-600);
		color: var(--text-high-contrast);
	}

	.hero__title {
		font-size: var(--font-size-heading-lg);

		> span {
			display: block;
			font-size: var(--font-size-heading-xl);
			color: var(--text-brand);
		}
	}

	.card {
		display: grid;
		gap: 1rem;
		padding: 1rem;
		background-color: var(--background-light);
		border-radius: var(--border-radius-3);

		img {
			border-radius: var(--border-radius-2);
		}
	}

	.card__title {
		color: var(--card-title-color, var(--text-brand));
		font-size: var(--card-title-font-size, var(--font-size-heading-sm));
	}

	.button {
		display: inline flex;
		cursor: pointer;
		font-family: var(--ff-heading);
		font-weight: 700;
		font-size: var(--fs-600);
		text-decoration: none;
		background-color: var(--background-accent-main);
		padding: 0.5rem 1rem;
		border-radius: var(--border-radius-1);
	}

	.button:hover,
	.button:focus-visible {
		background: var(--background-accent-light);
		color: var(--text-high-contrast);
	}
}

@layer utilities {
	.border-radius-sm {
		border-radius: var(--radii-10);
	}

	.border-radius-md {
		border-radius: var(--border-radius-2);
	}

	.text-center {
		text-align: center;
	}
	.text-brand {
		color: var(--text-brand);
	}
	.text-high-contrast {
		color: var(--text-high-contrast);
	}

	.section-title {
		font-size: var(--font-size-heading-regular);
	}

	.background-base {
		background-color: var(--background-base);
	}
	.background-light {
		background-color: var(--background-light);
	}
	.background-extra-light {
		background-color: var(--background-extra-light);
	}
	.background-dark {
		background-color: var(--background-dark);
	}
	.background-extra-dark {
		background-color: var(--background-extra-dark);
	}

	.background-accent {
		background-color: var(--background-accent-dark);
	}

	.font-size-sm {
		font-size: var(--font-size-sm);
	}
	.font-size-regular {
		font-size: var(--font-size-regular);
	}
	.font-size-md {
		font-size: var(--font-size-md);
	}
	.font-size-lg {
		font-size: var(--font-size-lg);
	}

	.visually-hidden {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}
}

@layer components {
	h1 {
		font-size: var(--fs-1000);
		line-height: 55px;
		font-weight: 300;
		font-family: var(--ff-heading);
		color: var(--text-main);
	}

	h2 {
		font-size: var(--fs-800);
		line-height: 40px;
		font-weight: 400;
		font-family: var(--ff-heading);
		color: var(--text-main);
	}

	h3 {
		font-size: var(--font-size-heading-regular);
		line-height: 30px;
		font-weight: 400;
		font-family: var(--ff-heading);
		color: var(--text-main);
	}

	p {
		font-size: var(--fs-600);
		line-height: 140%;
		font-weight: 400;
		font-family: var(--ff-body);
		color: var(--text-main);
		letter-spacing: 1%;
	}

	.cta-font {
		font-size: var(--fs-600);
		line-height: 20px;
		font-weight: 400;
		font-family: var(--ff-heading);
		color: var(--text-main);
	}
}
