---
import BaseHead from "../components/BaseHead.astro";
import MainLayout from "../layouts/MainLayout.astro";
import InfoCardMainPage from "../components/InfoCardContent/MainPage.astro";
import Block from "../components/common/Block.astro";
import LinkButton from "../components/common/LinkButton.astro";
import ThemeSwitcher from "../components/ThemeSwitcher/ThemeSwitcher.astro";

const yearsInTheField = new Date().getFullYear() - 2019;
---

<BaseHead
	title="Kira Menshov – Software Engineer"
	description="Personal site of Kira Menshov, frontend engineer."
/>

<MainLayout>
	<Block slot="main">
		<div class="main-content">
			<span class="main-title">
				<h1>Hi,</h1>
				<h1>I'm Kira</h1>
				<h1>Front-End Developer</h1>
			</span>
			<div class="intro">
				<p>
					Well, <u>mostly</u> a front-end developer. I happened to fall
					into this rabbit hole {yearsInTheField}+ years ago and while
					being interested in many other things outside of front-end,
					my main focus stays on web development. But I think in
					general I just like to build things, solve problems, and
					learn about new technologies.
				</p>

				<p>
					I worked in <a href="https://cheq.ai/">Cheq</a>,
					<a href="https://esh.com/">EshOS</a> and <a
						href="https://torq.io/"
						>Torq
					</a> as a senior front-end developer. But frankly, I still feel
					like a junior, as there is so much to learn and explore in this
					field. Just now I know how many more areas and technologies are
					out there.
				</p>

				<p>
					I also love to write and try to put on paper (quite
					literally 📖🖋️) everything I learn. So why not to share it
					with others?
				</p>
			</div>
			<div class="buttons-container">
				<LinkButton
					text="Bluesky -->"
					href="https://bsky.app/profile/kiramnshv.bsky.social"
					variant="outline"
					outside
				/>
				<LinkButton
					text="Github -->"
					href="https://github.com/curiousim"
					variant="outline"
					outside
				/>
				<LinkButton
					text="LinkedIn -->"
					href="https://www.linkedin.com/in/kira-menshov-b447b72a/"
					variant="outline"
					outside
				/>
			</div>
		</div>
	</Block>
	<div slot="theme">
		<ThemeSwitcher />
	</div>
	<InfoCardMainPage slot="latest" />
</MainLayout>
<style>
	.main-content {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	.main-title {
		display: flex;
		flex-direction: column;
		margin-top: 50px;
		margin-bottom: 62px;
	}
	.intro {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		color: var(--text-main);
		font-size: 1.15rem;
		line-height: 1.7;
	}
	.buttons-container {
		display: flex;
		gap: 1.5rem;
		margin-top: auto;
	}
	.blog-banner {
		height: 100%;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 10fr 1fr;
	}
	.blog-latest-post {
		width: 80%;
		display: flex;
		justify-content: end;
		flex-direction: column;
		gap: 0.5rem;
		padding-block: 3rem;
	}
	.sidebar-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	@media (max-width: 900px) {
		.main-title {
			flex-direction: column;
			align-items: flex-start;
			gap: 0.5rem;
			margin-top: 0px;
			margin-bottom: 36px;
		}

		.buttons-container {
			margin-top: 50px;
			flex-direction: column;
			gap: 1rem;
		}
	}
</style>
