---
interface Props {
	backgroundColor?: "primary" | "secondary";
	growWithContent?: boolean;
}

const {
	backgroundColor = "var(--background-content)",
	growWithContent = false,
} = Astro.props;
---

<section
	class=`block border-radius-sm ${backgroundColor === "secondary" ? "block-background-secondary" : "block-background-content"}`
	style={`height: ${growWithContent ? "auto" : "100%"};`}>
	<slot class="block-content"></slot>
</section>
<style>
	.block {
		background: var(--background-content);
		border-radius: var(--radii-10);
		padding: 20px var(--big-layout-gap);
		width: 100%;
	}
	.block-background-secondary {
		background: var(--background-secondary);
	}

	.block-content {
		min-height: 100%;
	}

	@media (max-width: 900px);
</style>
