---
---

<section class="block border-radius-sm">
	<slot></slot>
	<style>
		.block {
			background: var(--background-content);
			color: var(--text-main);
			padding: 20px;
			width: 100%;
			height: 100%;
		}
	</style>
</section>
